* {
  margin: 0;
  padding: 0;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}
p {
  margin-bottom: 1rem;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
}
button,
input {
  border: none;
  outline: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #0c0b09;
}
.wrapper {
  position: relative;
  overflow: hidden;
  margin-top: -24px;
}
.fst-italic {
  font-style: italic !important;
}
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-title {
  padding-bottom: 40px;
  p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #cda45e;
    text-transform: capitalize;
  }
  h2 {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
    &::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: rgba(255, 255, 255, 0.2);
      margin: 4px 10px;
    }
  }
}

.section-bg {
  background-color: #1a1814;
}
/* TOPBAR */

.topbar {
  height: 40px;
  top: 0;
  align-items: center;
  font-size: 14px;
  transition: all 0.5s;
  z-index: 996;
  opacity: 1;
  &.active {
    opacity: 0;
  }
  i {
    color: #cda45e;
    font-size: 14px;
  }
  span {
    color: #fff;
    padding-left: 5px;
    font-weight: lighter;
    font-size: 14px;
  }
}

/* HEADER */
.header {
  background: rgba(12, 11, 9, 0.6);
  border-bottom: 1px solid rgba(12, 11, 9, 0.6);
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  top: 40px;
  position: fixed;

  .mobile-nav-toggle {
    display: none;
  }
  &.active {
    top: 0;
  }
  .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    a {
      color: #fff;
    }
  }
  .book-a-table-btn {
    margin: 0 0 0 15px;
    border: 2px solid #cda45e;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;

    transition: 0.3s;
    &:hover {
      background: #cda45e;
      color: #fff;
    }
  }
  .navbar {
    display: flex;
    ul {
      display: flex;
      list-style: none;

      li {
        transition: 0.2s ease;
        &:hover a {
          color: #cda45e;
        }
      }
    }

    .nav-link {
      font-size: 14px;
      color: #fff;
      padding: 10px 10px 30px;

      &.active {
        color: #d9ba85;
      }
    }
  }
}
@media screen and (max-width: 1023.98px) {
  .header{
    padding: 10px 0;
    .book-a-table-btn{
      display: none;
    }

    .mobile-nav-toggle{
      display: block;
      font-size: 20px;  
      color: #fff;
    }
    
    .logo.active{
      opacity: 0;
    }
    .navbar{
      opacity: 0;
      
      top: 49px;
      right: 0;
      width: 40px;
      height: 40px;
      overflow: hidden;
      position: absolute;
      z-index: 99;
      background-color: #000;
      transition: 0.3s ease-in;
      gap: 12px;
      border-radius: 100%;
      ul{
        justify-content: center;
        min-height: 100vh;
        flex-direction: column;
        margin: 0 auto;

      }
    }
    .navbar.active{
      border-top-left-radius: 40px;
      opacity: 1;
      overflow: hidden;
      position: absolute;
      z-index: 99;
      width: 100%;
      height: 100vh;
      background-color: #000;
      gap: 12px;
      border-radius: 0;
      ul{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        gap: 30px;
        margin: 0 auto;
        li{
          a{

            color: #fff;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    
  }
}

/* HERO SECTION */

.hero {
  position: relative;
  height: 100vh;
  .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
  .hero-bg {
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    object-position: top center;
    object-fit: cover;
    filter: brightness(55%);
  }
  h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    span {
      color: #cda45e;
    }
  }
  h2 {
    margin-bottom: 0.5rem;
    color: #eee;
    font-size: 22px;
  }

  .btn-menu {
    margin-top: 30px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #cda45e;
  }

  .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #cda45e;
  }
  .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      width: 120px;
      height: 120px;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation: pulsate-btn 2s;
      animation: pulsate-btn 2s;
      -webkit-animation-direction: forwards;
      animation-direction: forwards;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: steps;
      animation-timing-function: steps;
      opacity: 1;
      border-radius: 50%;
      border: 5px solid rgba(205, 164, 94, 0.7);
      top: -15%;
      left: -15%;
      background: rgba(198, 16, 0, 0);
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-40%) translateY(-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid #fff;
      z-index: 100;
      transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.1);
    }
  }
}

@keyframes pulsate-btn {
  0% {
      transform: scale(.5);
      background-color: green;
      border-radius: 100%;
  }

  50% {
      background-color: orange;
  }

  100% {
      transform: scale(2.0);
      background-color: red;
  }
}

@media screen and (max-width: 1023.98px) {
  .hero{
    .play-btn{
      margin-top: 30px;
    }
  }
}

/* ABOUT SECTION */

.about {
  background: url(../../../assets/img/about-bg.jpg) center center;
  background-size: cover;
  position: relative;
  padding: 80px 0;

  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .about-img {
    position: relative;
    transition: 0.5s;
    &::before {
      position: absolute;
      left: 20px;
      top: 20px;
      width: 60px;
      height: 60px;
      z-index: 1;
      content: "";
      border-left: 5px solid #cda45e;
      border-top: 5px solid #cda45e;
      transition: 0.5s;
    }
    &::after {
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 60px;
      height: 60px;
      z-index: 2;
      content: "";
      border-right: 5px solid #cda45e;
      border-bottom: 5px solid #cda45e;
      transition: 0.5s;
    }
    img {
      max-width: 100%;
      border: 4px solid rgba(255, 255, 255, 0.2);
      position: relative;
    }
  }
  .container {
    filter: brightness(1);
  }
  h3 {
    font-weight: 600;
    font-size: 26px;
    color: #fff;
  }
  p {
    color: #fff;
  }
  ul {
    li {
      color: #fff;
      list-style: none;
      padding-bottom: 10px;
      i {
        font-size: 20px;
        color: #cf9838;
      }
    }
  }
}

/* WHY US SECTION */

.why-us {
  .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    transition: all ease-in-out 0.3s;
    background: #1a1814;
    color: #fff;
    span {
      display: block;
      font-size: 28px;
      font-weight: 700;
      color: #cda45e;
    }
    h4 {
      font-size: 24px;
      font-weight: 600;
      padding: 0;
      margin: 20px 0;
      color: rgba(255, 255, 255, 0.8);
    }
    p {
      color: #aaaaaa;
      font-size: 15px;
      margin: 0;
      padding: 0;
    }
    &:hover {
      cursor: pointer;
      background: #cda45e;
      padding: 30px 30px 70px 30px;
      box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
      p {
        color: #fff;
      }
      span {
        color: #fff;
      }
    }
  }
}

/* MENU SECTION */

.menu {
  ul {
    padding: 0;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    li {
      &.active,
      &:hover {
        color: #cda45e;
      }
      transition: 0.2s ease;
      color: #fff;
      cursor: pointer;
    }
  }

  &-item {
    margin-top: 50px;
    padding: 0 12px;
    img {
      width: 70px;
      border-radius: 50%;
      float: left;
      border: 5px solid rgba(255, 255, 255, 0.2);
    }
  }
  &-content {
    margin-left: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;

    a {
      padding-right: 10px;
      background: #1a1814;
      position: relative;
      z-index: 3;
      font-weight: 700;
      color: white;
      transition: 0.3s;

      &:hover {
        color: #cda45e;
      }
    }

    span {
      background: #1a1814;
      position: relative;
      z-index: 3;
      padding: 0 10px;
      font-weight: 600;
      color: #cda45e;
    }

    &::after {
      content: "......................................................................"
        "...................................................................."
        "....................................................................";
      position: absolute;
      left: 20px;
      right: 0;
      top: -4px;
      z-index: 1;
      color: #bab3a6;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
  }
  &-ingredients {
    margin-left: 85px;
    font-style: italic;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.5);
  }
}

/* SPECIAL SECTION */

.special {
  .nav-tabs {
    gap: 10px;
    border: none;
    border-right: 2px solid #cda45e;
    li {
      &.active {
        background-color: #cda45e;
        a {
          color: #0c0b09;
        }
      }
      a {
        color: #fff;
        transition: 0.2s ease;
        border-radius: 0;
        border: none;
        &:hover {
          color: #cda45e;
        }
        &.active {
          background-color: #cda45e;
          color: #0c0b09;
        }
      }
    }
  }

  .details {
    h3 {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 20px;
      color: #fff;
    }
    p {
      color: #aaaaaa;
    }
  }
}

/* EVENT BEGIN */
.swiper-pagination {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(204, 204, 204, 0.591);
  }
  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: #cda45e;
  }
}
.events {
  position: relative;
  padding-bottom: 80px;
  &-bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(40%);
    z-index: -1;
  }
  &-slider {
    width: 100%;
    z-index: 999;
    overflow: hidden;

    .swiper-pagination {
      bottom: 35px;
    }
  }
  &-item {
    h3 {
      font-weight: 600;
      font-size: 26px;
      color: #cda45e;
    }

    .price {
      font-size: 26px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      margin-bottom: 15px;
      color: #fff;
      border-bottom: 2px solid #cda45e;
      width: fit-content;
    }
    .fst-italic {
      color: #fff;
    }
    ul {
      list-style: none;
      li {
        color: #fff;
        padding-bottom: 10px;
      }
    }
    p {
      color: #fff;
    }
  }

  .swiper-slide {
    width: 100%;
  }
}

/* EVENT END */

/* BOOK BEGIN */

.book {
  .form-book {
    .form-group {
      padding-bottom: 8px;
    }

    input,
    textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      background: #0c0b09;
      border: 1px solid #625b4b;
      color: white;
      height: 44px;
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        border: 1px solid #c5ab78;
      }
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
    textarea {
      padding: 10px 12px;
      min-height: calc(1.5em + 0.75rem + 2px);
      height: 105px;
    }
    button[type="submit"] {
      background: #cda45e;
      border: 0;
      padding: 10px 35px;
      color: #fff;
      transition: 0.4s;
      border-radius: 50px;
    }
  }
}

/* FORM END */

/* TESTIMONIALS BEGIN */
.testimonial {
  padding-bottom: 40px;
  &-slider {
    height: 355px;
    padding-bottom: 40px;

    .swiper-pagination {
      bottom: 0;
    }
  }
  &-item {
    p {
      font-style: italic;
      margin: 0 15px 0 15px;
      padding: 20px 20px 60px 20px;
      background-color: #26231d;
      color: #fff;
      i {
        font-size: 25px;
        color: #cda45e;
      }
    }

    img {
      border-radius: 50%;
      margin: -40px 0 0 40px;
      position: relative;
      width: 90px;
      z-index: 2;
      border: 6px solid rgba(255, 255, 255, 0.2);
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
      color: white;
      margin: 10px 0 5px 45px;
    }
    h4 {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
      margin: 0 0 0 45px;
      font-family: "Playfair Display", sans-serif;
    }
  }
}

/* TESTIMONIAL END */

/* GALLERY BEGIN */
.gallery {
  .col-lg-3 {
    overflow: hidden;
    position: relative;
  }
  a {
    width: fit-content;
  }
  img {
    transition: 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
/* GALLERY END */

/* CHEF BEGIN */
.chef {
  .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;

    &-info {
      opacity: 0;
      position: absolute;
      transition: 0.2s ease;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;

      &-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        transition: bottom 0.4s;

        h4 {
          font-weight: 700;
          margin-bottom: 2px;
          font-size: 18px;
          color: #fff;
        }
        span {
          font-style: italic;
          display: block;
          font-size: 13px;
          color: #fff;
        }
      }
      .social {
        position: absolute;
        left: 0;
        bottom: -38px;
        right: 0;
        height: 48px;
        transition: bottom ease-in-out 0.4s;
        text-align: center;
        a {
          transition: color 0.3s;
          color: #fff;
          margin: 0 10px;
          display: inline-block;
          i {
            font-size: 18px;
            margin: 0 2px;
          }
        }
      }
    }
  }

  .member:hover .member-info {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 212, 255, 0) 100%
    );
    opacity: 1;
    transition: 0.4s;
  }
  .member:hover .member-info-content {
    bottom: 60px;
    transition: bottom 0.4s;
  }
  .member:hover .social {
    bottom: 0;
    transition: bottom ease-in-out 0.4s;
  }
}
/* CHEF END */

/* CONTACT BEGIN */

.contact {
  .info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    i {
      font-size: 20px;
      float: left;
      width: 44px;
      height: 44px;
      background: #cda45e;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      color: #fff;
      transition: all 0.3s ease-in-out;
    }

    h4 {
      padding: 0 0 0 60px;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
      color: #fff;
      font-family: "Poppins", sans-serif;
    }

    p {
      padding: 0 0 0 60px;
      margin-bottom: 0;
      font-size: 14px;
      color: #bab3a6;
    }
  }
  .email-form {
    input {
      width: 100%;
      height: 44px;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #fff;
      background-color: transparent;
      background-clip: padding-box;
      border: 1px solid #625b4b;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    textarea:focus,
    input:focus {
      border: 1px solid #cda45e;
    }
  }
  .email-form textarea {
    padding: 10px 12px;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: white;

    &:focus {
      border: 1px solid #cda45e;
    }
  }
}
/* CONTACT END */

/* FOOTER BEGIN */

.footer {
  font-size: 14px;
  color: #fff;
  .row{
    justify-content: center;
  }
  .copyright {
    text-align: center;
    padding-top: 30px;
  }
  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    a {
      color: #cda45e;
    }
  }
  &-top {
    h4 {
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      position: relative;
      padding-bottom: 12px;
    }
    .footer-info {
      h3 {
        font-size: 24px;
        margin: 0 0 20px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 300;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: "Playfair Display", serif;
        color: #fff;
      }
      a {
        font-size: 18px;
        display: inline-block;
        background: #28251f;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
      }
    }

    .footer-links {
      ul {
        display: flex;
        flex-direction: column;
        li {
          padding: 10px 0;
          display: flex;
          align-items: center;
          color: #fff;
          transition: 0.3s;
          display: inline-block;
          line-height: 1;
          i {
            color: #cda45e;
            font-size: 10px;
          }
        }
      }
    }
    form {
      margin-top: 30px;
      background: #28251f;
      padding: 6px 10px;
      position: relative;
      border-radius: 50px;
      border: 1px solid #454035;
      input[type="email"] {
        border: 0;
        padding: 4px;
        width: calc(100% - 110px);
        background: #28251f;
        color: white;
      }
      input[type="submit"] {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 20px 2px 20px;
        background: #cda45e;
        color: #fff;
        transition: 0.3s;
        border-radius: 50px;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .footer{
    .col-lg-3, .col-lg-2, .col-lg-4{
      text-align: center;
      margin: 10px;
    }
  }
}

/* FOOTER END */

/* responsive */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
}

@media screen and (max-width: 767.98px) {
}
